################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factory/obj/Debug
/Factory/bin/Debug
